<html>
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='el/index.css'/>
<script src='el/vue.js'></script>
<script src='el/axios.min.js'></script>
<script src='el/index.js'></script>
<script src='my-select.js'></script>
<style>
	.ops {
		background-color: #ede;
	}
	.myselect {
		color : red;
	}
</style>
</head>
<body>
<div id='app'>
	<div class='ops'>
		<el-select v-model="opVal" placeholder="请选择">
			<el-option value="CODE" label="按代码查询">  </el-option>
			<el-option value="GN_AND" label="按概念查询(AND)">  </el-option>
			<el-option value="GN_OR" label="按概念查询(OR)"> </el-option>
			<el-option value="HY" label="按行业查询"> </el-option>
			<el-option value="MY_SELECT" label="我的自选股"> </el-option>
		</el-select> 
		<el-input v-model='inputVal' type='textarea' autosize style='width:400px'> </el-input> (多个以,分隔)
		<el-button type='primary' @click='doQuery'> Query </el-button>
	</div>
	<el-table  :data="datas" style="width: 100%;"  height='90%' border highlight-current-row >
		<el-table-column type='index' label='#' width='60' fixed>  </el-table-column>
		<el-table-column prop="code" label='代码' width='80' fixed sortable>  </el-table-column>
		<el-table-column label='名称' width='120' fixed sortable> 
			<template slot-scope="scope">
				<span :style="getNameStyle(scope.row.code )"> ${ scope.row.name }</span>
			</template>
		</el-table-column>
		<el-table-column prop="" label='机构' >
			<el-table-column prop="THS_JGCC-orgNum1" label='数量' sortable >  </el-table-column>
			<el-table-column prop="THS_JGCC-totalRate1" label='持仓比例' sortable >  </el-table-column>
			<el-table-column prop="THS_JGCC-change1" label='增减(万股)' sortable>  </el-table-column>
		</el-table-column>
		<el-table-column prop="THS_GD-ltgdTop10Rate" label='十大流通股东占比' sortable >  </el-table-column>
		<el-table-column prop="" label='二级行业' >
			<el-table-column prop="THS_HYDB_2-zhPM" label='排名' sortable >  </el-table-column>
			<el-table-column prop="THS_HYDB_2-hyTotal" label='总量' sortable >  </el-table-column>
			<el-table-column prop="THS_HYDB_2-PG" label='评估' sortable >  </el-table-column>
		</el-table-column>
		<el-table-column prop="" label='三级行业' >
			<el-table-column prop="THS_HYDB_3-zhPM" label='排名' sortable>  </el-table-column>
			<el-table-column prop="THS_HYDB_3-hyTotal" label='总量' sortable>  </el-table-column>
			<el-table-column prop="THS_HYDB_3-PG" label='评估' sortable>  </el-table-column>
		</el-table-column>
		<el-table-column prop="THS_Newest-zsz" label='总市值' sortable> </el-table-column>
	</el-table>
</div>	
<script>

	vue = new Vue({
		delimiters: ['${', '}'],
		el: '#app',
		data: function() {
			return {opVal : 'CODE', inputVal:'', datas : [] }
		},
		methods: {
			getNameStyle: function(name) {
				if (my_select_gp.indexOf(name) >= 0)
					return 'color: red'
				return '';
			},
			doQuery: function() {
				let v = this;
				v.datas = [];
				v.inputVal = v.inputVal.trim();
				if (v.opVal == 'CODE') {
					if (!v.inputVal) {
						return;
					}
					axios.get('/queryByCode/' + v.inputVal).then(function(resp) {
						v.doPG(resp.data);
						v.datas = resp.data;
						console.log(resp.data);
					});
				} else if (v.opVal == 'GN_AND') {
					if (!v.inputVal) {
						return;
					}
					axios.get('/queryByGN/AND/' + v.inputVal).then(function(resp) {
						v.doPG(resp.data);
						v.datas = resp.data;
						console.log(resp.data);
					});
				} else if (v.opVal == 'GN_OR') {
					if (!v.inputVal) {
						return;
					}
					axios.get('/queryByGN/OR/' + v.inputVal).then(function(resp) {
						v.doPG(resp.data);
						v.datas = resp.data;
						console.log(resp.data);
					});
				} else if (v.opVal == 'HY') {
					if (!v.inputVal) {
						return;
					}
					axios.get('/queryByHY/' + v.inputVal).then(function (resp) {
						v.doPG(resp.data);
						v.datas = resp.data;
						console.log(resp.data);
					});
				} else if (v.opVal == 'MY_SELECT') {
					cc = []
					for (let i in my_select_gp) {
						if (my_select_gp[i].trim()) {
							cc.push(my_select_gp[i].trim());
						}
					}
					let codes = cc.join(',');
					axios.get('/queryByCode/' + codes).then(function (resp) {
						v.doPG(resp.data);
						v.datas = resp.data;
						console.log(resp.data);
					});
				}
				
			},
			getPGString :function(v) {
				if (v < 0.2) return '[1]优秀';
				if (v < 0.4) return '[2]良好';
				if (v < 0.6) return '[3]一般';
				if (v < 0.8) return '[4]较差';
				return '[5]垃圾';
			},
			doPG: function(datas) {
				for (let i = 0; i < datas.length; ++i) {
					let d = datas[i];
					if (d['THS_HYDB_2-hyTotal']) {
						let pos = d['THS_HYDB_2-zhPM'] / d['THS_HYDB_2-hyTotal'];
						d['THS_HYDB_2-PG'] = this.getPGString(pos);
					}
					if (d['THS_HYDB_3-hyTotal']) {
						let pos = d['THS_HYDB_3-zhPM'] / d['THS_HYDB_3-hyTotal'];
						d['THS_HYDB_3-PG'] = this.getPGString(pos);
					}
					// check full
					if (! d['THS_JGCC-orgNum1'])
						d['THS_JGCC-orgNum1'] = 0;
					if (!d['THS_JGCC-totalRate1'])
						d['THS_JGCC-totalRate1'] = 0;
					if (!d['THS_JGCC-totalRate1'])
						d['THS_JGCC-totalRate1'] = 0;
					if (!d['THS_GD-ltgdTop10Rate'])
						d['THS_GD-ltgdTop10Rate'] = 0;	
					if (!d['THS_HYDB_3-PG'])
						d['THS_HYDB_3-PG'] = '-';
					if (!d['THS_HYDB_3-hyTotal'])
						d['THS_HYDB_3-hyTotal'] = 0;
					if (!d['THS_HYDB_3-zhPM'])
						d['THS_HYDB_3-zhPM'] = 0;
					if (!d['THS_HYDB_2-PG'])
						d['THS_HYDB_2-PG'] = '-';
					if (!d['THS_HYDB_2-hyTotal'])
						d['THS_HYDB_2-hyTotal'] = 0;
					if (!d['THS_HYDB_2-zhPM'])
						d['THS_HYDB_2-zhPM'] = 0;
					if (!d['THS_Newest-zsz'])
						d['THS_Newest-zsz'] = 0;
				}
			}
		}
	});
</script>
	
</body>
</html>