<html>
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #000000;
        }
        a {
            text-decoration: none;
            color: #87b85e;
        }
        .sel-row {
            background-color: rgb(102, 121, 184);
        }
    </style>
</head>
<body>
    <div id="app">
        <div style="background-color: darkgray; width: 100%; height: 50px;">
            <textarea v-model="sql"  style="width: 60%;  float: left;" rows=2 placeholder="input sql"> </textarea>
            <button @click="doQuery">Query</button>
        </div>
        <table :data="results" >
            <tr>
                <th v-for="col in columns"  v-if="col != 'id' ">
                    [[ col ]]
                </th>
            </tr>

            <tr v-for="(row, ridx) in results" :key="row.id" @click="selectRow($event, ridx)" >
                <template v-for="(colName, idx) in columns">
                    <td v-if="colName != 'id' " v-html="buildCell(row, colName)" :style="getStyle(colName)">
                    </td>
                </template>
            </tr>
        </table>

    </div>
</body>
<script>
    

    function wrapData(colName, colVal) {
        if (colName.indexOf('_亿') > 0) {
            let s = '' + colVal;
            let i = s.indexOf('.');
            if (i > 0) {
                s = s.substring(0, i + 2);
                return parseFloat(s);
            }
        }
        if (colName == '涨跌幅') {
            return '' + colVal + '%';
        }
        return colVal;
    }

    function lastDate() {
        let d = new Date();
        d = d.setDate(d.getDate() - 1);
        d = new Date(d);
        let m = d.getMonth() + 1;
        return '' + d.getFullYear() + '-' + (m > 9 ? m : '0' + m) + '-' + d.getDate();
    }

    vue = new Vue({
      delimiters : ["[[", "]]"],
      el: '#app',
      data: {sql : 'select * from tdxlhb where 日期 = "' + lastDate() + '" ', results: [], columns: [], selObj: {}},
      selRowTR : null,
      methods: {
        doQuery: function() {
            let v = this;
            v.columns = [];
            v.results = [];
            let params = {sql : this.sql};
            axios.post('/queryBySql', params).then(function(res) {
                console.log(res.data);
                let rs = res.data;
                if (rs.status == "success") {
                    let cols = [];
                    // let widthInfo = {'上榜类型AA' : 200, '日期':110, 'code':80, 'name': 95, '涨跌幅': 80};
                    for (i in rs.cols) {
                        let name = rs.cols[i];
                        rs.cols[i] = name = name.replace('金额', '').replace('额', '');
                        cols.push(name);
                    }
                    v.columns = cols;
                    let dt = [];
                    let ntrClass = [];
                    for (i in rs.data) {
                        let rr = rs.data[i];
                        let rv = {};
                        for (let j = 0; j < rr.length; ++j) {
                            rv[rs.cols[j]] = wrapData(rs.cols[j], rr[j]);
                        }
                        dt.push(rv);
                        ntrClass.push('');
                    }
                    v.results = dt;
                    console.log('-->', v.columns, v.results);
                } else {
                }
            });
        },
        buildCell : function(row, colName) {
            if (colName == 'name') {
                return '<a href="http://page2.tdx.com.cn:7615/site/tdxsj/html/tdxsj_lhbd_ggxq.html?back=tdxsj_lhbd,龙虎榜个股,' 
                        + row.code+',' + row.name + '" target="_blank">' + row.name +'  </a>';
            }
            return row[colName];
        },
        getStyle : function(colName) {
            let widthInfo = {'上榜类型AA' : 200, '日期':110, 'code':80, 'name': 95, '涨跌幅': 80, '收盘价': 80};
            let style = '';
            if (colName.indexOf('_亿') > 0) {
                style += "width: 60px;";
            }
            if (colName in widthInfo) {
                style += 'width: ' + widthInfo[colName] + 'px;';
            }
            if (colName != '上榜类型' && colName != '知名游资') {
                style += 'text-align: center;';
            }
            return style;
        },
        selectRow : function(evt, idx) {
            let p = evt.target;
            while (p.tagName != 'TR') {
                p = p.parentElement;
            }
            if (this.selRowTR == p) {
                return;
            }
            if (this.selRowTR)
                this.selRowTR.className = '';
            this.selRowTR = p;
            p.className = 'sel-row';
        }
      }
    });
  </script>
</html>